<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
    <div id="footer-rightside"><div id="footerAnalyse" <% if (theme.footer_analyse.disp == false){ %>style="display:none"<% } %>><%- theme.footer_analyse.content %></div></div>
  </div>
</footer>